#sectionwahd {
  background-image: url(/images/h_img.jpg);
  position: relative;
  text-align: center;
  background-size: cover;
  padding-top: 20%;
  color: whitesmoke;
  background-repeat: no-repeat;
}
.sectionwahdwnus {
  padding-top: 7%;
  padding-bottom: 4%;
  top: 50vh;
}

.sectionthalath {
  text-align: center;
  padding: 7%;
}

.sectionithnin {
  background-image: url(/images/s_image.jpg);
  position: relative;
  text-align: center;
  height: 488px;
  width: 1920;
  background-size: cover;
  color: whitesmoke;
  padding-top: 12%;
  padding-bottom: 50px;
}

.sectionarbaa {
  text-align: center;
  padding-top: 4%;
}

.row {
  columns: 3;
  align-self: auto;
}

.un p {
  display: none;
}

.deux p {
  display: none;
}

. p {
  display: none;
}

.sectionhamsa {
  text-align: center;
  border: solid white;
  cursor: pointer;
}
.sectionsita {
  background-image: url(/images/c_image.jpg);
  position: relative;
  text-align: center;
  height: 683px;
  width: 1920;
  background-size: cover;
  color: whitesmoke;
}
.sectionsabaa {
  padding-top: 40px;
  text-align: center;
  margin: 0 auto;
}
