.sectionwahd {
  background-image: url(../images/backgrounds/h_img.jpg);
  position: relative;
  text-align: center;
  height: 1071px;
  width: 1920;
  background-size: cover;
  padding-top: 20%;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  color: whitesmoke;
}
.sectionthalath {
  text-align: center;
  padding: 7%;
}
.sectionithnin {
  background-image: url(../images/backgrounds/s_image.jpg);
  position: relative;
  text-align: center;
  height: 488px;
  width: 1920;
  background-size: cover;
  color: whitesmoke;
  padding-top: 12%;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.sectionarbaa {
  padding-top: 7%;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  text-align: center;
}
.sectionhamsa {
  text-align: center;
}
.sectionsita {
  background-image: url(../images/backgrounds/c_image.jpg);
  position: relative;
  text-align: center;
  height: 683px;
  width: 1920;
  background-size: cover;
  color: whitesmoke;
}
